Project3/src/main/app/Project3.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration">
		<http:worker-threading-profile
			poolExhaustedAction="WAIT" />
	</http:listener-config>
	<mulexml:jaxb-context name="JAXB_Context"
		packageNames="is.project3.smartphones.xml" doc:name="JAXB Context" />
	<db:mysql-config name="MySQL_Configuration" host="localhost"
		port="3306" user="root" database="isproject3" doc:name="MySQL Configuration" />
	<smtps:connector name="SMTP_Connector" fromAddress="${smtp.user}@student.dei.uc.pt"
		validateConnections="true" doc:name="SMTP">
		<smtps:tls-client path="keystore.jks" storePassword="123456" />
		<smtps:tls-trust-store path="truststore.jks"
			storePassword="123456" />
	</smtps:connector>
	<flow name="Admin-CreateDatabase" initialState="started">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="admin/create_database" doc:name="admin/create_database" />
		<db:bulk-execute config-ref="MySQL_Configuration"
			doc:name="Create database" file="src/main/resources/create_database.sql"></db:bulk-execute>
		<set-payload value="Database created" doc:name="Database created" />
	</flow>
	<flow name="SOAP-Subscriptions" initialState="started">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="soap/subscriptions" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="SOAP"
			serviceClass="is.project3.subscriptions.SubscriptionService" />
		<component class="is.project3.subscriptions.SubscriptionServiceImpl"
			doc:name="Java Service" />
	</flow>
	<flow name="Common-LoadSmartphones">
		<component class="is.project3.smartphones.tools.Validator"
			doc:name="Validator" />
		<choice tracking:enable-default-events="true" doc:name="Choice">
			<when expression="#[payload==null]">
				<set-payload value="Error!" doc:name="Set Payload" />
			</when>
			<otherwise>
				<mulexml:jaxb-xml-to-object-transformer
					encoding="UTF-8" jaxbContext-ref="JAXB_Context" doc:name="XML to JAXB Object" />
				<component class="is.project3.smartphones.tools.FilterScreenSize"
					doc:name="POJO-Filter" />
				<set-session-variable variableName="timestamp"
					value="#[payload.getTimestamp().longValue()]" doc:name="Session Variable" />
				<set-session-variable variableName="version"
					value="#[payload.getVersion().longValue()]" doc:name="Session Variable" />
				<set-session-variable variableName="crawler"
					value="#[payload.getCrawler()]" doc:name="Session Variable" />
				<foreach collection="#[payload.getSmartphone()]" doc:name="For Each">
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[INSERT INTO smartphone (VERSION, TIMESTAMP, CRAWLER, URL, TITLE, PRICE, PROCESSOR, SCREENTYPE, SCREENSIZE,OTHER) VALUES (#[sessionVars.version],#[sessionVars.timestamp],#[sessionVars.crawler], #[payload.url],#[payload.title],#[payload.price.value],#[payload.description.get(0).value],#[payload.description.get(1).value],#[payload.description.get(2).value],#[payload.description.get(3).value]);]]></db:parameterized-query>
					</db:insert>
				</foreach>
				<set-payload value="Success!" doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
	<flow name="Directory-LoadSmartphones">
		<file:inbound-endpoint path="dropXMLdirectory"
			responseTimeout="10000" doc:name="File" />
		<file:file-to-string-transformer
			doc:name="File to String" />
		<flow-ref name="Common-LoadSmartphones" doc:name="Common-LoadSmartphones" />
	</flow>
	<flow name="SOAP-LoadSmartphones">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/soap/loadxml" doc:name="HTTP" />
		<cxf:jaxws-service serviceClass="is.project3.smartphones.soap.LoadXML"
			doc:name="CXF" />
		<component doc:name="Java">
			<singleton-object class="is.project3.smartphones.soap.LoadXML" />
		</component>
		<flow-ref name="Common-LoadSmartphones" doc:name="Common-LoadSmartphones" />
	</flow>
	<flow name="Static-Content" initialState="started">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="*" doc:name="*" />
		<http:static-resource-handler
			resourceBase="src/main/resources/www" defaultFile="index.html" doc:name="Static Resource Handler" />
	</flow>
</mule>
